<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aim_2_MoTeC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aim_2_MoTeC.Properties.Settings>
            <setting name="S_UseSubSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S_RenameChannels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S_UseRawGPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S_UseDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </Aim_2_MoTeC.Properties.Settings>
    </userSettings>
</configuration>